
h1 {
  font-size: 6vw;
}

h2 {
  font-size: 5vw;
}

h3 {
  font-size: 4vw;
}

h4, h5, h6 {
  font-size: 3vw;
}

p {
  font-size: 2vw;
}

a {
  font-size: 2vw;
}

@media (min-width: 768px) {
  h1 {
    font-size: 5vw;
  }

  h2 {
    font-size: 4vw;
  }

  h3 {
    font-size: 3vw;
  }

  h4, h5, h6 {
    font-size: 2.5vw;
  }

  p {
    font-size: 2vw;
  }

  a {
    font-size: 2vw;
  }
}